<% provide(:title, "About") %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>About Stock The Rocker</h1>
		<div class="well bs-component">
			<p>
				Stock Rocker was created back in 2009. First of all it was an exercise to try and understand 
				basic websites (html and css). I was looking for a website name and tried searching for Rock 'n' Roll names and
				the domain provider suggested Stock Rocker. I went for it and implemented a mostly static website, which each post i 
				would try and update by manually creating a new html file. It was fun for a while but soon felt the strain of doing it so manually. I could of have easily signed up to Word Press or some other blog platform but i really wanted to understand what was going on underneath. In time my energy for the site reduced and i rarely updated it and tried to improve it.
			</p>
			<p>
				Then some while later i became interested in the Ruby on Rails framework. After firstly doing
				many sections of the <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
				 i realised i didn't have a basic grasp of Ruby let alone what was going on in with rails. I went back a couple of steps and
				 went through a few Ruby books to get a good grasp of Ruby and programming in general. After doing a few Ruby books, the most useful for me being <a href="http://learnrubythehardway.org/"><em>Learn Ruby The Hard Way</em></a>, I then come across
				 the <a href="http://www.pragmaticstudio.com/"><em>Pragmatic Studio</em></a>.
				 I did the first Rails tutorial and what a fantastic course it was. I really felt i could give making a Rails app a crack. I had an idea and started to try and build but came to realise that my first idea was a little ambitous and i hit a few walls i couldn't seemed to get over
				 so i stopped. I was only doing the course in my spare time and i found the new found wisdom was slowly creeping out of my brain. I went back to the <a href="http://www.railstutorial.org/">
				 <em>Ruby on Rails Tutorial</em></a> which this time around made a lot more sense and comes at it
				 at a slightly different angle to the pragmatic course. Once i had made my way through that i
				 thought it was time and have another at making a rails app.
			</p>
			<p>
				With my old Stock Rocker website, i thought i would try a less ambitous app this time and just implement
				a simple blogging website which i can do new blogs via a form and have a backend database. I've really
				taken to Rails and now i think for me to stand any chance in keeping it in my brain is to just to do it!
			</p>
		</div>
	</div>
</div>