<% provide(:title, "About") %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>About Stock The Rock</h1>
		<div class="well bs-component">
			<p>
				Stock Rocker was founded back in 2009. First of all it was an exercise to try and understnad 
				basic html and css. I was looking for a website name and tried Rock 'n' Roll like names and
				it suggested this one. So i went for it and implemented a mostly static website, which each week i 
				would trcy and update but creating new html files. I was fun for a while but soon realised 
				the pain of updating my blog this way. After some time i stopped and my energy for improving
				the site reduced.
			</p>
			<p>
				Then some while later i became interested in the Ruby on Rails framework. After firstly doing
				many sections of the <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
				 i realised i never understood what is going on here. So i went back a couple of steps and
				 went through a few Ruby books to get a grasp of Ruby before trying again. I then come across
				 the <a href="http://www.pragmaticstudio.com/"><em>Pragmatic Studio</em></a> and so i enrolled.
				 What a fantastic course it was and i really felt i could give making a Rails app a crack. I
				 think my first idea was a little ambitous and i hit a few walls i couldn't seemed to get over
				 so i stopped. Because i was only to do the course in my spare time i found the new found wisdom
				 quickly seaped out of my brain. So i went back to the <a href="http://www.railstutorial.org/">
				 <em>Ruby on Rails Tutorial</em></a> which this time around made a lot more sense and comes at it
				 at a slightly different angle to the pragmatic course. Once i had made my way through that i
				 thought it was time and have another at making a rails app.
			</p>
			<p>
				With my old Stock Rocker website, i thought i would try a less ambitous app this time and just implement
				a simple blogging website which i can do new blogs via a form and have a database design. I've really
				taken to Rails and now i think for me to stand any chance in keeping it in my brain is to just to do it!
			</p>
		</div>
	</div>
</div>