<div class='nested-fields'>
    <%= f.label :content %>
    <%= f.cktext_area :content, class: "form-control", rows: 20 %>
    <%= link_to_remove_association "Remove Post", f, class: "btn btn-info" %>
</div>
</br>
