<% provide(:title, "Blogs" )%>
<h1>Blogs</h1>
<div class="bs-component">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'index' %>
       <% if admin_user? %>
       	  <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary" %>
       <% end %>
    </div>
</div>

