<aside>
	<section> <!-- Rename these classes and  put in actual content-->
		<p>Place holder for partial that will contain something</p>
	</section>
	<section>
		<p>Place holder for partial that will contain something</p>
	</section>
	<section>
		<p>Place holder for partial that will contain something</p>
	</section>
</aside>