// Cerulean 3.3.5
// Bootswatch
// -----------------------------------------------------
@import 'variables';
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin btn-shadow($color){
  @include gradient-vertical-three-colors(lighten($color, 8%), $color, 60%, darken($color, 4%));
  filter: none;
  border-bottom: 1px solid darken($color, 10%);
}

/* mixins variables etc */

$light-grey: #777;
$gray-meduim-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:  border-box;
  -webkit-box-sizing: border-box;
  box-sizing:     border-box;
}


// Navbar =====================================================================

.navbar {
  @include btn-shadow($navbar-default-bg);
  filter: none;
  @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));

  &-default {

    .badge {
      background-color: #fff;
      color: $navbar-default-bg;
    }
  }

  &-inverse {
    @include gradient-vertical-three-colors(lighten($navbar-inverse-bg, 8%), lighten($navbar-inverse-bg, 4%), 60%, darken($navbar-inverse-bg, 2%));
    filter: none;
    border-bottom: 1px solid darken($navbar-inverse-bg, 10%);

    .badge {
      background-color: #fff;
      color: $navbar-inverse-bg;
    }
  }

  .navbar-nav > li > a,
  &-brand {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: $grid-float-breakpoint-max) {

  .navbar {

    .dropdown-header {
      color: #fff;
    }

    .dropdown-menu {
      a {
        color: #fff;
      }
    }
  }
}

// Buttons ====================================================================

.btn {

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  .caret {
    border-top-color: #fff;
  }
}

.btn-default {
  
  @include btn-shadow($btn-default-bg);

  &:hover {
    color: $btn-default-color;
  }

  .caret {
    border-top-color: $text-color;
  }
}

.btn-default {
  @include btn-shadow($btn-default-bg);
}

.btn-primary {
  @include btn-shadow($btn-primary-bg);
}

.btn-success {
  @include btn-shadow($btn-success-bg);
}

.btn-info {
  @include btn-shadow($btn-info-bg);
}

.btn-warning {
  @include btn-shadow($btn-warning-bg);
}

.btn-danger {
  @include btn-shadow($btn-danger-bg);
}

// Typography =================================================================

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// Tables =====================================================================


// Forms ======================================================================

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
  width: 50%;
}

.text-name {
    width: 40%;
  }
.text-email {
    width: 50%;
  }  


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

// Header =====================================================================

#logo {
  float: left;
  margin-right: 15px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
header {
  ul {
    li {
      //margin-left: 20px;
      float: left;
      letter-spacing: +0.5px;
      font-size: 1.2em;
    }
  }
}

// Sidebar ====================================================================

aside {
  background-color: #eee;
  border-radius: 5px;
}

// Footer =====================================================================
footer {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid $gray-meduim-light;
  img {
  float: left;
  margin: 0 auto;
  }
  a {
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.panel-primary,
.panel-success,
.panel-warning,
.panel-danger,
.panel-info {

  .panel-heading,
  .panel-title {
    color: #fff;
  }
}
